
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
h1{
  color: #fff;
  font-size:36px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  margin-top: 20px;
}
.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-gap: 10px;
  background-color: #333;
  padding:10px;
  border-radius: 5px;
}
.cell{
  width: 100px;
  height: 100px;
  background-color: #fff;
  justify-content: center;
  align-items:center;
  font-size: 36px;
  cursor: pointer;
}

.cell:hover{
  background-color: #eee;
}

.result{
  background-color:rgba(255,255,255,0.8);
  border: 2px solid #333;
  max-width: 200px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}
#result-text{
  color:#333;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
#reset-btn{
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  pad
}
)